rollOutCiliumPods: true
priorityClassName: "system-node-critical"
annotateK8sNode: true
policyEnforcementMode: "always"
operator:
  replicas: 1
  rollOutPods: true
containerRuntime:
  integration: containerd
  socketPath: /var/run/containerd/containerd.sock
hubble:
  enabled: true
  rollOutPods: true
  relay:
    enabled: true
    rollOutPods: true
  ui:
    enabled: true
    rollOutPods: true
ipam:
  mode: kubernetes
kubeProxyReplacement: "strict"
k8sServiceHost: "hawk.alleaffengaffen.ch"
k8sServicePort: "6443"
